* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
}

header {
  padding: 20px 0;
  background-color: #005eb8;
  color: white;
}

.header-container {
  margin: 0 400px;
}

.header-main {
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 10px;
}

.container {
  margin: 0 400px;
  padding-top: 20px;
}

.cards {
  display: grid;
  column-gap: 70px;
  grid-template-columns: auto auto;
  margin-top: 30px;
}

.card-item {
  font-size: 1.5em;
  padding: 30px 0;
  display: grid;
  grid-template-rows: 50px 30px 30px;
  justify-content: center;
  background-color: #f0f4f5;
  box-shadow: 0 3px #005eb8;
  border: 5px solid #005eb8;
}

.card-title {
  font-size: 1.25em;
}

.outer-chart-container {
  font-size: 1.5rem;
  padding: 50px 0;
  margin-top: 100px;
  background-color: #f0f4f5;
}

.inner-chart-container {
  margin: 0 auto;
  max-width: 850px;
}

.inner-chart-container h2 {
  margin-bottom: 30px;
}
